Repository neo4j/neo4j-documentation, pull requests merged in 2018-05, with the labels that each got.

#209 Cypher 3.5
  cypher/cypher-docs/pom.xml
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/Document.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocumentingTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryRunner.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/captureStateAsGraphViz.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/contentAndResultMerger.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/tests/ContentAndResultMergerTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/tests/DocumentTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/tests/QueryResultContentBuilderTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/tests/QueryRunnerTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/tests/RestartableDatabaseTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/tests/RunnableContentTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/internal/CypherSerializer.scala
  cypher/graphgist/src/main/java/org/neo4j/doc/cypherdoc/State.java
  cypher/refcard-tests/pom.xml
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
  embedded-examples/src/test/java/org/neo4j/examples/AbstractJavaDocTestBase.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/AbstractRestFunctionalTestBase.java
Labels: 3.5, cypher

#203 3.4 DateTime documentation
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
  cypher/cypher-docs/src/docs/dev/syntax/comparison.asciidoc
  cypher/cypher-docs/src/docs/dev/syntax/index.asciidoc
  cypher/cypher-docs/src/docs/dev/syntax/values.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/OperatorsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ScalarFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SpatialFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SpatialTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/StringFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TemporalFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TemporalTest.scala
Labels: 3.4, cypher

#213 Editorial fixes
  cypher/cypher-docs/src/docs/dev/syntax/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SpatialTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TemporalFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TemporalTest.scala
Labels: 3.4, cypher

#215 Adapt to cleanup around execution engine
  cypher/cypher-docs/src/test/java/org/neo4j/cypher/example/JavaExecutionEngineDocTest.java
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ExecutionEngineFactory.scala
  cypher/graphgist/src/main/scala/org/neo4j/cypher/internal/DocsExecutionEngine.scala
  cypher/graphgist/src/test/java/org/neo4j/cypher/javacompat/internal/DocsExecutionEngineTest.java
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
Labels: 3.5, cypher

#211 Remove the travesal endpoint.
  neo4j-harness-enterprise-test/src/test/java/org/neo4j/harness/enterprise/doc/ExtensionTestingDocIT.java
  neo4j-harness-enterprise-test/src/test/java/org/neo4j/harness/enterprise/doc/JUnitDocIT.java
  neo4j-harness-test/src/test/java/org/neo4j/harness/doc/ExtensionTestingDocIT.java
  neo4j-harness-test/src/test/java/org/neo4j/harness/doc/JUnitDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/ServerConfigDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/ServerTestUtils.java
  server-docs/src/test/java/org/neo4j/doc/server/helpers/CommunityServerBuilder.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/TraverserDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/paging/PagedTraverserDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/streaming/StreamingTraverserDocIT.java
  server-examples/src/test/java/org/neo4j/examples/server/unmanaged/UnmanagedExtensionsDocIT.java
Labels: 3.5

#219 uses new Cypher Compiler classes
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ExecutionEngineFactory.scala
Labels: 3.5, cypher
