Repository neo4j/neo4j-documentation, pull requests merged in 2018-07, with the labels that each got.

#229 Update failing build after internal changes
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/internal/CypherSerializer.scala
Labels: 3.5, cypher

#227 adds documentation for USING INDEX SEEK hint
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
Labels: 3.2, cypher

#210 Don't lie and claim we support Cypher 3.2
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 3.4, cypher

#232 Fix confusing section title for point function.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SpatialFunctionsTest.scala
Labels: 3.4, cypher

#236 Adapt documentation to new test directory structure, fix failing tests.
  backup/src/test/java/org/neo4j/doc/backup/TestBackup.java
  import-tool/src/test/java/org/neo4j/tooling/ImportToolDocIT.java
  kernel/src/test/java/examples/BatchInsertDocTest.java
  lucene/src/test/java/examples/ImdbDocTest.java
  pom.xml
  test-framework-enterprise/src/main/java/org/neo4j/doc/test/TestEnterpriseGraphDatabaseFactory.java
  test-framework/src/main/java/org/neo4j/doc/test/ImpermanentGraphDatabase.java
  test-framework/src/main/java/org/neo4j/doc/test/TestGraphDatabaseFactory.java
  test-framework/src/main/java/org/neo4j/doc/test/rule/DatabaseRule.java
  test-framework/src/main/java/org/neo4j/doc/test/rule/EmbeddedDatabaseRule.java
Labels: 3.5

#231 Split the Temporal Function into Instant Types and Duration pages
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TemporalDurationFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TemporalFunctionsTest.scala
Labels: Dependencies w. other PR
