Repository neo4j/neo4j-documentation, pull requests merged in 2018-04, with the labels that each got.

#197 #195
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
Labels: 3.1, bug, cypher

#194 Cypher CALL docs should link to docs for building procs and to built-in proc reference
  cypher/cypher-docs/src/docs/dev/ql/call/index.asciidoc
Labels: 3.1, cypher

#202 IN Operator revamp
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/OperatorsTest.scala
Labels: 3.3, cypher, enhancement

#204 Fix JMX javadocs links
  doctools/src/main/java/org/neo4j/doc/jmx/JmxBeanDocumenter.java
Labels: 3.3, bug

#207 Update '3.6.1 Cypher Query Option' to reflect reality
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
Labels: 3.4, cypher
