Repository neo4j/neo4j-documentation, pull requests merged in 2018-06, with the labels that each got.

#217 Avg and sum of Durations
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/AggregatingFunctionsTest.scala
Labels: 3.5, cypher

#222 Adapt QueryPlanTest to new Create operator
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: 3.5, cypher

#225 Adapt documentation to new test/editions module structure in the product
  backup/pom.xml
  backup/src/test/java/org/neo4j/backup/TestBackup.java
  cypher/cypher-docs/pom.xml
  cypher/graphgist/pom.xml
  cypher/refcard-tests/pom.xml
  doctools/pom.xml
  embedded-examples/pom.xml
  enterprise-server-docs/pom.xml
  enterprise-server-docs/src/test/java/org/neo4j/server/enterprise/helpers/EnterpriseServerBuilder.java
  graphviz/pom.xml
  import-tool/pom.xml
  kernel/pom.xml
  lucene/pom.xml
  server-docs/pom.xml
  server-docs/src/test/java/org/neo4j/doc/server/helpers/CommunityServerBuilder.java
  server-examples/pom.xml
  shell/pom.xml
Labels: 3.5

#221 Stop building javdocs downstream
  javadocs/pom.xml
  javadocs/src/main/assembly/assembly.xml
  pom.xml
Labels: 3.4, tooling

#226 Fix introduction header on Cypher Manual
  cypher/cypher-docs/src/docs/dev/general/index.asciidoc
Labels: 3.5, cypher
