Repository neo4j/neo4j-documentation, pull requests merged in 2019-12, with the labels that each got.

#461 Added example to TestBackup
  embedded-examples/src/test/java/org/neo4j/examples/backup/TestBackup.java
Labels: 4.0

#460 Extend iBob docs with 4.0 features
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
  cypher/cypher-docs/src/docs/graphgists/query-tuning/advanced-query-tuning-example.asciidoc
Labels: 4.0, cypher

#463 Improve some explanations in the Cypher manual.
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/OperatorsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/StringFunctionsTest.scala
Labels: 3.5, cypher

#464 Fix casing of reltypes.
  cypher/cypher-docs/src/test/java/org/neo4j/cypher/example/IntroDocTest.java
Labels: 3.5, bug, cypher

#459 4.0 cypher textual cleanup
  cypher/cypher-docs/src/docs/dev/general/cypher-introduction.asciidoc
  cypher/cypher-docs/src/docs/dev/general/databases-and-graphs.asciidoc
  cypher/cypher-docs/src/docs/dev/general/query-transactions.asciidoc
  cypher/cypher-docs/src/docs/dev/general/querying-updating-administering.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: 4.0, cypher

#465 4.0 advanced query tuning
  cypher/cypher-docs/src/docs/dev/administration.asciidoc
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/constraints/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes-for-full-text-search/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes-for-search-performance/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/admin-role-introduction.asciidoc
  cypher/cypher-docs/src/docs/dev/query-tuning-indexes.adoc
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
  cypher/cypher-docs/src/docs/graphgists/import/import-csv-with-cypher.asciidoc
  cypher/cypher-docs/src/docs/graphgists/intro/labels.adoc
  cypher/cypher-docs/src/docs/graphgists/query-tuning/advanced-query-tuning-example.asciidoc
  cypher/cypher-docs/src/docs/graphgists/query-tuning/basic-query-tuning-example.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ConstraintsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/FulltextIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MatchTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/OrderByTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WhereTest.scala
Labels: Dependencies w. other PR

#469 Update links to generate operators
  cypher/cypher-docs/src/docs/dev/execution-plan-groups/operators.asciidoc
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
Labels: 3.5, bug, cypher

#466 Updating glossary and Role Management privilege documentation
  cypher/cypher-docs/src/docs/dev/administration.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/administration-security-administration-toc.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/admin-role-dbms.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.0, cypher

#474 Update community server builder
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/CommunityServerBuilder.java
Labels: 4.1

#473 Added example to TestBackup
  embedded-examples/src/test/java/org/neo4j/examples/backup/TestBackup.java
Labels: 4.0

#476 Reorder the list of versions in Removals, deprecations, additions, and extensions
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.0

#475 Reorder security part of the glossary alphabetically
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
Labels: 4.0, cypher

#478 Added LOAD CSV functions and updated list comprehension description in the ref card
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ImportTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ListExpressionsTest.scala
Labels: 4.0, cypher

#479 Add comments about detach delete for restricted users.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DeleteTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
Labels: 4.0, cypher

#481 Updated broken links to Duration Functions since the section had moved
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/DurationFunctionsTest.scala
Labels: 3.5, bug, cypher

#471 Updated the database privilege syntax to show correct optional parts
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/admin-database-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/admin-role-database.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/all-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/constraint-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-access-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-start-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-stop-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-access-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-start-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-stop-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/index-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/name-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/role-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/deny-match-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/deny-read-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/deny-traverse-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/deny-write-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-deny-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-match-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-read-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-traverse-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-write-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/revoke-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/role-management-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
Labels: 4.0, cypher

#482 Add new clauses to the Cypher manual glossary.
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
Labels: 4.0, cypher

#485 Fix typo in Cypher Manual
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.0

#486 Migrate documentation web container tests to new infra.
  server-docs/src/test/java/org/neo4j/doc/server/ExclusiveWebContainerTestBase.java
  server-docs/src/test/java/org/neo4j/doc/server/NeoServerJAXRSDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/TransactionTimeoutDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/security/CommunityServerTestBase.java
  server-test-utils/src/main/java/org/neo4j/doc/server/SharedServerTestBase.java
  server-test-utils/src/main/java/org/neo4j/doc/server/SharedWebContainerTestBase.java
  server-test-utils/src/main/java/org/neo4j/doc/server/WebContainerHolder.java
  server-test-utils/src/main/java/org/neo4j/doc/server/WebContainerTestUtils.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/CommunityServerBuilder.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/CommunityWebContainerBuilder.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/FunctionalTestHelper.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/ServerHelper.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/TestWebContainer.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/WebContainerHelper.java
  server-test-utils/src/main/java/org/neo4j/doc/server/rest/AbstractRestFunctionalTestBase.java
Labels: 4.1
