Repository neo4j/neo4j-documentation, pull requests merged in 2019-11, with the labels that each got.

#437 Added information about named indexes and constraints, the new create index syntax and the deprecation of the old drop syntax
  cypher/cypher-docs/src/docs/dev/administration.asciidoc
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/execution-plan-groups/operators.asciidoc
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/constraints/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes/index.asciidoc
  cypher/cypher-docs/src/docs/graphgists/import/import-csv-with-cypher.asciidoc
  cypher/cypher-docs/src/docs/graphgists/intro/labels.adoc
  cypher/cypher-docs/src/docs/graphgists/query-tuning/advanced-query-tuning-example.asciidoc
  cypher/cypher-docs/src/docs/graphgists/query-tuning/basic-query-tuning-example.asciidoc
  cypher/cypher-docs/src/test/java/org/neo4j/cypher/export/SubGraphExporter.java
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ConstraintsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ShortestPathPlanningTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
  cypher/cypher-prettifier/src/main/scala/org/neo4j/cypher/docgen/tooling/PrettifierParser.scala
  cypher/cypher-prettifier/src/test/scala/org/neo4j/cypher/docgen/tooling/PrettifierParserTest.scala
  cypher/cypher-prettifier/src/test/scala/org/neo4j/cypher/docgen/tooling/PrettifierTest.scala
  cypher/graphgist/src/test/resources/profiling-test.asciidoc
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ConstraintTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/IndexTest.scala
Labels: 4.0, cypher

#438 Additional work on the named indexes
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.0, cypher

#431 Add some more profiling info
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
Labels: 4.0, cypher

#436 Add documentation for new execution-plan operators
  cypher/cypher-docs/src/docs/dev/execution-plan-groups/operators.asciidoc
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: 4.0, cypher

#440 Rename tx-logs to transactions
  import-tool/src/test/java/org/neo4j/tooling/ImportToolDocIT.java
Labels: 4.0, DO NOT MERGE, Dependencies w. other PR

#444 Fabric CALL {} and USE fixes
  cypher/cypher-docs/src/docs/dev/query-call-subquery-correlated.adoc
  cypher/cypher-docs/src/docs/dev/query-use.adoc
Labels: 4.0, cypher

#439 They are just called indexes now. Not _schema_ indexes.
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes/fulltext-index.adoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes/index.asciidoc
  cypher/cypher-docs/src/docs/graphgists/query-tuning/advanced-query-tuning-example.asciidoc
  cypher/cypher-docs/src/docs/graphgists/query-tuning/basic-query-tuning-example.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SpatialTest.scala
  import-tool/src/docs/ops/import-tool.asciidoc
Labels: 4.0, Dependencies w. other PR

#445 Change remaining "remote graph" to "graph"
  cypher/cypher-docs/src/docs/dev/query-use.adoc
Labels: 4.0, cypher

#441 Full-text index documentation is now generated (and slightly updated)
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes/fulltext-index.adoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/FulltextIndexTest.scala
Labels: 4.0

#446 Section for subquery clauses in clauses overview, and fix CALL {} link
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
Labels: 4.0, cypher

#447 Make use of index and constraint names in Core API examples.
  embedded-examples/src/main/java/org/neo4j/examples/EmbeddedNeo4jWithIndexing.java
  embedded-examples/src/test/java/org/neo4j/examples/EmbeddedNeo4JWithIndexingDocTest.java
  embedded-examples/src/test/java/org/neo4j/examples/GetOrCreateDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/TransactionTimeoutDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/security/AuthenticationDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/transactional/TransactionDocIT.java
  server-test-utils/src/main/java/org/neo4j/doc/server/ServerTestUtils.java
  server-test-utils/src/main/java/org/neo4j/doc/server/SharedServerTestBase.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/CommunityServerBuilder.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/FunctionalTestHelper.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/ServerHelper.java
  server-test-utils/src/main/java/org/neo4j/doc/server/rest/AbstractRestFunctionalTestBase.java
  server-test-utils/src/main/java/org/neo4j/doc/server/rest/domain/GraphDbHelper.java
  test-framework/src/main/java/org/neo4j/doc/test/index/Neo4jTestCase.java
Labels: 4.0, Dependencies w. other PR, kernel

#450 Add a custom full-text index analyzer provider example.
  embedded-examples/src/main/java/org/neo4j/examples/AnalyzerProviderExample.java
  embedded-examples/src/test/java/org/neo4j/examples/CustomAnalyzerProviderTest.java
  embedded-examples/src/test/resources/stopwords.txt
Labels: 4.0, Dependencies w. other PR, kernel

#451 4.0 cypher chapter one
  cypher/cypher-docs/src/docs/dev/general/cypher-introduction.asciidoc
  cypher/cypher-docs/src/docs/dev/general/databases-and-graphs.asciidoc
  cypher/cypher-docs/src/docs/dev/general/index.asciidoc
  cypher/cypher-docs/src/docs/dev/general/query-transactions.asciidoc
  cypher/cypher-docs/src/docs/dev/general/querying-updating-administering.asciidoc
  cypher/cypher-docs/src/docs/dev/general/transactions.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/load-csv/index.asciidoc
  cypher/cypher-docs/src/docs/graphgists/uniqueness/uniqueness.asciidoc
  cypher/cypher-docs/src/docs/intro/cypher-motivation.adoc
  cypher/cypher-docs/src/docs/intro/graphs-patterns-cypher.adoc
  cypher/cypher-docs/src/docs/intro/index.adoc
  cypher/cypher-docs/src/docs/intro/use-in-application.adoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/CallSubqueryTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/LoadCSVTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MatchTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PatternTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocBuilder.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/Document.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocumentingTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryResultContentBuilder.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryRunner.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/tests/QueryRunnerTest.scala
Labels: 4.0, cypher

#455 Update examples.
  embedded-examples/pom.xml
  embedded-examples/src/main/java/org/neo4j/examples/EmbeddedNeo4jWithCustomLogging.java
  embedded-examples/src/main/java/org/neo4j/examples/EmbeddedNeo4jWithSLF4JLogging.java
  embedded-examples/src/test/java/org/neo4j/examples/backup/TestBackup.java
Labels: 4.0

#458 Bump jackson-databind from 2.9.9.3 to 2.9.10.1
  pom.xml
Labels: 4.0
