Repository neo4j/neo4j-documentation, pull requests merged in 2019-10, with the labels that each got.

#406 Update docs to use transaction based schema access
  cypher/cypher-docs/src/test/java/org/neo4j/cypher/example/JavaExecutionEngineDocTest.java
  cypher/cypher-docs/src/test/java/org/neo4j/cypher/export/DatabaseSubGraph.java
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ConstraintsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocsExecutionResult.scala
  cypher/graphgist/src/main/java/org/neo4j/doc/cypherdoc/BlockType.java
  cypher/graphgist/src/test/java/org/neo4j/doc/cypherdoc/BlockTypeTest.java
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/AggregationTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/CallTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/CaseTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ConstraintTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/CreateTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/DeleteTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/DurationFunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ExampleTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ForeachTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/FunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ImportTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/IndexTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/LabelsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ListExpressionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ListPredicatesTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ListsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/MapsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/MatchTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/MathematicalFunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/MergeTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/PathFunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/PatternsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/PredicatesTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/RelationshipFunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/RemoveTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ReturnTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/SetTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/SpatialFunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/StringFunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/TemporalFunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/UnionTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/WhereTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/WithTest.scala
  embedded-examples/src/main/java/org/neo4j/examples/EmbeddedNeo4jWithNewIndexing.java
  embedded-examples/src/test/java/org/neo4j/examples/GetOrCreateDocIT.java
  kernel/src/test/java/examples/BatchInsertDocTest.java
  neo4j-harness-enterprise-test/src/test/java/org/neo4j/harness/enterprise/doc/JUnitDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/security/CommunityServerTestBase.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/ServerHelper.java
  server-test-utils/src/main/java/org/neo4j/doc/server/rest/domain/GraphDbHelper.java
  test-framework/src/main/java/org/neo4j/doc/test/GraphDatabaseServiceCleaner.java
Labels: 4.0

#407 Fix the problem with empty tables.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/Document.scala
Labels: 3.5, bug

#408 Improve docs about merge with unique constraints.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MergeTest.scala
Labels: 3.5

#401 Amend the Pattern comprehension example to match the movie graph example
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ListsTest.scala
Labels: 3.5

#413 Removing references to deprecated START clause
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WhereTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/WhereTest.scala
Labels: 4.0, cypher

#415 Document new truncate default parameter.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TemporalFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TemporalTest.scala
Labels: 4.0, cypher

#414 Clarify that key must be a string for maps
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MapsTest.scala
Labels: 3.4, cypher

#409 Making the build work on windows
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MatchTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/Document.scala
  cypher/graphgist/src/main/java/org/neo4j/doc/cypherdoc/BlockType.java
  cypher/graphgist/src/main/java/org/neo4j/doc/cypherdoc/Main.java
  cypher/graphgist/src/test/java/org/neo4j/doc/cypherdoc/CypherDocTest.java
  doctools/src/test/java/org/neo4j/doc/SettingsDocumenterTest.java
Labels: 4.0, cypher

#410 Do not use `WITH` in reltype.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MatchTest.scala
Labels: 3.5, cypher

#412 Document existential subqueries
  cypher/cypher-docs/src/docs/dev/syntax/expressions.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ExistentialSubQueriesTest.scala
  cypher/cypher-prettifier/src/main/scala/org/neo4j/cypher/docgen/tooling/PrettifierParser.scala
Labels: 4.0, cypher

#418 Updated Composite indexes
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
Labels: 4.0, cypher

#417 Document file() and linenumber()
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/load-csv/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/LoadCSVFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/LoadCSVTest.scala
Labels: 4.0, cypher

#422 Update Enterprise factory package to adapt to product changes.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ConstraintsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/RestartableDatabase.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
  procedures/src/main/java/org/neo4j/doc/Neo4jInstance.java
Labels: 4.0, kernel

#421 Update Database, Role and User Management
  cypher/cypher-docs/src/docs/dev/ql/administration/security/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/user-management-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.0, cypher

#425 Update used API methods after duplicates were removed.
  server-examples/src/main/java/org/neo4j/examples/server/unmanaged/ColleaguesResource.java
Labels: 4.0

#424 Feedback from clustering team on new databases section
  cypher/cypher-docs/src/docs/dev/administration.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryResultContentBuilder.scala
Labels: 4.0, cypher

#426 Fix failing out of transaction tests.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/internal/CypherSerializer.scala
Labels: 4.0

#427 Add transaction event listener registration and usage example
  embedded-examples/src/main/java/org/neo4j/examples/TransactionEventListenerExample.java
Labels: 4.0

#428 Adaption to changes of api in Database/Neo4j-layout
  kernel/src/test/java/examples/BatchInsertDocTest.java
Labels: 4.0, kernel

#429 Update cypher statement transactional requirement in docs
  cypher/cypher-docs/src/docs/dev/general/transactions.asciidoc
Labels: 4.0

#430 Add comment about db hits in new runtime
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
Labels: 4.0, cypher

#432 Allow complete failed query execution tests
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
Labels: 4.0

#433 Add a bit more explanation for file()
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/LoadCSVTest.scala
Labels: 4.0, cypher
