Repository neo4j/neo4j-documentation, pull requests merged in 2020-02, with the labels that each got.

#499 Backport failing test fix (result order change)
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WithTest.scala
Labels: 4.0

#497 Updated the list of additions in 4.0 to also mention existential subqueries
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WhereTest.scala
Labels: 4.0, bug, cypher

#503 Updated the list of deprecations and removals in 4.0 to be correct for variable binding of variable length relationships
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.0, bug, cypher

#505 Update copyright year to 2020
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/TestWebContainer.java
Labels: 4.1

#507 Fix typo in naming rules and recommendations
  cypher/cypher-docs/src/docs/dev/syntax/naming.asciidoc
Labels: 3.4

#500 Add correlated subquery examples
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
  cypher/cypher-docs/src/docs/dev/query-call-subquery-correlated.adoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/CallSubqueryTest.scala
Labels: 4.1, cypher

#509 Add DEFAULT DATABASE and USER MANAGEMENT to the database administration section.
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/administration-security-administration-toc.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/admin-database-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/admin-role-database.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/all-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/constraint-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-access-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-start-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-stop-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-access-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-start-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-stop-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/index-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/name-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/admin-role-dbms.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/user-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
Labels: 4.1, cypher, enhancement
