Repository neo4j/neo4j-documentation, pull requests merged in 2020-07, with the labels that each got.

#612 Update Cypher compatibility chapter for 4.2
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.2, cypher

#620 Add `SHOW ROLES name1, name2 PRIVILEGES` and `SHOW USERS name1, name2 PRIVILEGES`
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/role-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/show-role-privileges-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/show-user-privileges-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/user-management-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ListPrivilegeTest.scala
Labels: 4.2, cypher

#623 bump neo4j snapshot version to 4.1.1
  config-docs/pom.xml
  cypher/cypher-docs/pom.xml
  cypher/cypher-prettifier/pom.xml
  cypher/graphgist/pom.xml
  cypher/pom.xml
  cypher/refcard-tests/pom.xml
  doctools/pom.xml
  embedded-examples/pom.xml
  graphviz/pom.xml
  import-tool/pom.xml
  jmx/pom.xml
  kernel/pom.xml
  metrics-docs/pom.xml
  neo4j-harness-enterprise-test/pom.xml
  neo4j-harness-test/pom.xml
  pom.xml
  procedures/pom.xml
  server-docs/pom.xml
  server-examples/pom.xml
  server-test-utils/pom.xml
  test-framework/pom.xml
Labels: 4.1

#619 added notes about admin and show privileges
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/role-management-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
Labels: 4.0

#625 Prevent test assertion overwriting the generated request/response for …
  server-docs/src/test/java/org/neo4j/doc/server/rest/transactional/TransactionDocIT.java
Labels: cherry-picked

#615 Remove note about dropping admin
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/BuiltInRolesAdministrationTest.scala
Labels: 4.1, bug, cypher

#629 Remove note about dropping admin
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/BuiltInRolesAdministrationTest.scala
Labels: 4.2, cherry-picked

#618 Bump jackson-databind from 2.9.10.1 to 2.9.10.5
  pom.xml
Labels: 4.1

#631 Add TransactionEventListener tags to example code
  embedded-examples/src/main/java/org/neo4j/examples/TransactionEventListenerExample.java
Labels: 4.2, kernel

#635 Use Slotted runtime for DropResult example
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: 4.2, cypher

#636 Add TransactionEventListener tags to example code
  embedded-examples/src/main/java/org/neo4j/examples/TransactionEventListenerExample.java
Labels: 4.1, cherry-picked

#633 add USE clause to additions
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.2, cypher

#632 update round function with new parameters
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MathematicalNumericFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocBuilder.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/Document.scala
Labels: 4.2, cypher

#622 Add YIELD and WHERE to SHOW commands in 4.1 additions section
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.2, cypher

#621 Add YIELD and WHERE to SHOW commands in 4.1 additions section
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.1, cypher
