Repository neo4j/neo4j-documentation, pull requests merged in 2020-05, with the labels that each got.

#564 Sub-menu in the Operators page
  cypher/cypher-docs/src/docs/dev/execution-plan-groups/operators.asciidoc
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
Labels: 4.1

#569 Added a note that clarifies WITH
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WithTest.scala
Labels: 3.5

#570 4.1 plan description autogenerated names
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
Labels: 4.1

#572 Fix build failure
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocumentingTest.scala
Labels: 4.0, bug, cypher

#574 Remove WRITE ON NODES example.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
Labels: 4.1, cypher

#575 Only remove users and roles when setting up for test
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/AdministrationCommandTestBase.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/DatabaseManagementTest.scala
Labels: 4.1, bug, cypher

#576 Fix build failure
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocumentingTest.scala
Labels: 4.1, bug, cypher

#573 Fix a broken link in the Cypher Manual
  cypher/cypher-docs/src/docs/dev/general/query-transactions.asciidoc
Labels: 4.0

#578 Updating asciidoc formatting for auto-generated config documentation
  config-docs/src/main/java/org/neo4j/doc/ConfigDocsGenerator.java
Labels: 4.0, bug, kernel

#580 Refresh the 4.0 Query tuning page
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
Labels: 4.0

#577 Removed the traversal doc test
  embedded-examples/src/test/java/org/neo4j/examples/TraversalDocTest.java
Labels: 4.0

#581 Update glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
Labels: 4.0, bug, cypher

#582 Add Multi database count metrics to Metrics docs
  metrics-docs/pom.xml
Labels: 4.1

#584 Information about index-backed ORDER BY and parameters
  cypher/cypher-docs/src/docs/graphgists/query-tuning/advanced-query-tuning-example.asciidoc
Labels: 4.1, cypher

#585 Information about index-backed ORDER BY and parameters
  cypher/cypher-docs/src/docs/graphgists/query-tuning/advanced-query-tuning-example.asciidoc
Labels: 4.0, cypher

#583 Split security privilege section into several sections.
  cypher/cypher-docs/src/docs/dev/administration.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-deny-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityReadPrivilegesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityWritePrivilegesTest.scala
Labels: 4.1, Dependencies w. other PR, cypher

#590 Add documentation for Cypher replanning
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
Labels: 4.1, cypher

#594 Fix compilation errors after settings renaming
  config-docs/pom.xml
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
  cypher/graphgist/src/main/java/org/neo4j/doc/cypherdoc/CypherDoc.java
  embedded-examples/src/test/java/org/neo4j/examples/Neo4jBasicDocTest.java
  embedded-examples/src/test/java/org/neo4j/examples/StartWithConfigurationDocTest.java
Labels: 4.1

#597 Add link to built-in roles in operations manual
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.0, cypher, enhancement

#587 Add an admonition to the Advanced query tuning example
  cypher/cypher-docs/src/docs/graphgists/query-tuning/advanced-query-tuning-example.asciidoc
Labels: 4.0
