Repository neo4j/neo4j-documentation, pull requests merged in 2020-10, with the labels that each got.

#677 Use the correct spelling of sub-graph
  cypher/cypher-docs/src/docs/dev/administration.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/AggregatingFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PredicateFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WhereTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/MergeTest.scala
Labels: 4.0

#676 Back-porting idempotent indexes/constraints
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/execution-plan-groups/operators.asciidoc
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/constraints/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes-for-search-performance/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ConstraintsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/cypher-prettifier/src/main/scala/org/neo4j/cypher/docgen/tooling/PrettifierParser.scala
  cypher/cypher-prettifier/src/test/scala/org/neo4j/cypher/docgen/tooling/PrettifierParserTest.scala
  cypher/cypher-prettifier/src/test/scala/org/neo4j/cypher/docgen/tooling/PrettifierTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ConstraintTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/IndexTest.scala
Labels: 4.1, Dependencies w. other PR, cypher

#675 Back-porting idempotent indexes/constraints
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.2, Dependencies w. other PR, cypher

#679 Use the correct spelling of sub-graph
  cypher/cypher-docs/src/docs/dev/administration.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/AggregatingFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PredicateFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WhereTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/MergeTest.scala
Labels: 4.1, cherry-picked

#680 Use the correct spelling of sub-graph
  cypher/cypher-docs/src/docs/dev/administration.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/AggregatingFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PredicateFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WhereTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/MergeTest.scala
Labels: 4.2, cherry-picked

#681 Add pipelined triadic selection operators
  cypher/cypher-docs/src/docs/dev/execution-plan-groups/operators.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: 4.2, cypher

#678 Describe all cypher query options
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
Labels: 4.2, cypher

#682 updated built-in roles to include traverse
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.0

#684 4.1 cherry pick 682
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.1, cherry-picked

#685 cherry-picked-682-from-4.0
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.2, cherry-picked

#667 Add documentation for the new `EXECUTE` privileges
  cypher/cypher-docs/src/docs/dev/ql/administration/security/admin-role-introduction.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/administration-security-administration-toc.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/admin-role-dbms.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/execute-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/BuiltInRolesAdministrationTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PrivilegesTestBase.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.2, Dependencies w. other PR, cypher

#687 Add note about dropping user not terminating connections
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.0, cypher

#688 Add note about dropping user not terminating connections
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.1, cherry-picked, cypher

#689 Add note about dropping user not terminating connections
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.2, cherry-picked, cypher

#694 Add execute to additions
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.2, cypher

#693 Clarify why some metrics don't always appear in plans
  cypher/cypher-docs/src/docs/dev/execution-plans.asciidoc
Labels: 4.2, cypher

#695 Bump junit from 4.12 to 4.13.1
  pom.xml
Labels: 4.1

#697 Document that we accept dots in database names
  cypher/cypher-docs/src/docs/dev/syntax/naming.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: 4.0, cypher

#699 Document that we accept dots in database names
  cypher/cypher-docs/src/docs/dev/syntax/naming.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: 4.1, cherry-picked, cypher

#700 Document that we accept dots in database names
  cypher/cypher-docs/src/docs/dev/syntax/naming.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: 4.2, cherry-picked, cypher

#683 Make iBob documentation up to date.
  cypher/cypher-docs/src/docs/graphgists/query-tuning/advanced-query-tuning-example.asciidoc
Labels: 4.2, cypher

#690 Add documentation for `SHOW CURRENT USER`
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/user-management-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/UserManagementTest.scala
Labels: 4.2, cypher

#702 Make the S in PRIVILEGES optional for `SHOW PRIVILEGES`
  cypher/cypher-docs/src/docs/dev/ql/administration/security/role-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/show-all-privileges-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/show-role-privileges-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/show-user-privileges-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/user-management-syntax.asciidoc
Labels: 4.2, cypher

#703 replaced or with and
  cypher/cypher-docs/src/docs/dev/ql/merge/index.asciidoc
Labels: 4.0, cherry-pick-this-to-4.1, cherry-pick-this-to-4.2

#705 replaced or with and (#703)
  cypher/cypher-docs/src/docs/dev/ql/merge/index.asciidoc
Labels: 4.2, cherry-picked

#704 replaced or with and (#703)
  cypher/cypher-docs/src/docs/dev/ql/merge/index.asciidoc
Labels: 4.1, cherry-picked

#706 fixed so that the default roles will be generated
  procedures/src/main/java/org/neo4j/doc/ProcedureReferenceGenerator.java
Labels: 4.0, bug, cherry-pick-this-to-4.1, cherry-pick-this-to-4.2, cherry-pick-this-to-4.3

#707 Admonition about the naming convention for creating databases and roles
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.0, cherry-pick-this-to-4.1, cherry-pick-this-to-4.2, cherry-pick-this-to-4.3
