Repository neo4j/neo4j-documentation, pull requests merged in 2020-01, with the labels that each got.

#487 Fix broken bullets in full-text search indexes
  cypher/cypher-docs/src/docs/dev/ql/schema-index/fulltext-schema-index.adoc
Labels: 3.5

#467 Update imports after Cypher refactoring.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/Document.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocumentingTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/captureStateAsGraphViz.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/contentAndResultMerger.scala
  cypher/cypher-prettifier/src/main/scala/org/neo4j/cypher/docgen/tooling/PrettifierParser.scala
  cypher/cypher-prettifier/src/test/scala/org/neo4j/cypher/docgen/tooling/ParserTestBase.scala
Labels: 4.1, Dependencies w. other PR, cypher

#488 Fix broken docs after cypher frontend refactoring
  cypher/cypher-docs/pom.xml
  cypher/cypher-prettifier/pom.xml
  cypher/refcard-tests/pom.xml
Labels: 4.1, cypher

#492 Fix role mangement & document reserved PUBLIC role
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.0, cypher

#491 update to Jackson v2
  cypher/cypher-docs/pom.xml
  cypher/cypher-docs/src/test/java/org/neo4j/cypher/example/JavaExecutionEngineDocTest.java
  cypher/graphgist/pom.xml
  cypher/graphgist/src/main/java/org/neo4j/doc/cypherdoc/BlockType.java
  pom.xml
  server-docs/src/test/java/org/neo4j/doc/server/rest/security/AuthenticationDocIT.java
  server-docs/src/test/java/org/neo4j/doc/server/rest/security/UsersDocIT.java
  server-examples/pom.xml
  server-examples/src/main/java/org/neo4j/examples/server/unmanaged/ColleaguesCypherExecutionResource.java
  server-examples/src/main/java/org/neo4j/examples/server/unmanaged/ColleaguesResource.java
  server-test-utils/src/main/java/org/neo4j/doc/server/HTTP.java
  server-test-utils/src/main/java/org/neo4j/doc/server/rest/JSONPrettifier.java
Labels: 3.5

#484 Added ref card tests for the new security commands
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-deny-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/AdministrationCommandTestBase.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/DatabaseManagementTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/DatabasePrivilegeTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/GraphPrivilegeTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ListPrivilegeTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/RoleManagementPrivilegeTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/RoleManagementTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/UserManagementTest.scala
Labels: 4.0, cypher

#490 Describe what ORDER BY does in a WITH clause.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/OrderByTest.scala
Labels: cypher

#493 Fix typo in Cypher Refcard
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/GraphPrivilegeTest.scala
Labels: 4.0

#495 Adapt cursors to new internal api.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/internal/CypherSerializer.scala
Labels: 4.1

#496 Fixed unresolved db version in Cypher manual
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-deny-syntax.asciidoc
Labels: 4.0
