Repository neo4j/neo4j-documentation, pull requests merged in 2020-04, with the labels that each got.

#544 Edited the table descriptions in the Role management page in the Security section
  cypher/cypher-docs/src/docs/dev/ql/administration/security/role-management-syntax.asciidoc
Labels: 4.1

#543 Edited the table descriptions in name management syntax page
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/name-management-syntax.asciidoc
Labels: 4.1

#545 Edited security/user management syntax table
  cypher/cypher-docs/src/docs/dev/ql/administration/security/user-management-syntax.asciidoc
Labels: 4.1

#547 Edited the admin database and grant deny pages
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/admin-role-database.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-deny-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
Labels: 4.1

#548 Minor edits in the database and privileges management pages
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/database-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/privilege-management-syntax.asciidoc
Labels: 4.1

#533 SHOW USER PRIVILEGES will show currently logged in user
  cypher/cypher-docs/src/docs/dev/ql/administration/security/user-management-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ListPrivilegeTest.scala
Labels: 4.1, cypher

#555 Resolve build issues with 4.1 branch
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
Labels: 4.1, bug

#550 Update unmanaged extensions to 4.0 specs
  server-examples/src/main/java/org/neo4j/examples/server/unmanaged/HelloWorldResource.java
Labels: 4.0

#549 Clarify new privilege requirements for SHOW commands.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
Labels: 4.1, cypher, enhancement

#557 Admin commands on databases and graphs now support multiple databases
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/admin-database-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/admin-role-database.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/all-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/constraint-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-access-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-start-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/deny-database-stop-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-access-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-start-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/grant-database-stop-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/index-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/name-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/database/transaction-management-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/deny-match-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/deny-read-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/deny-traverse-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/deny-write-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-deny-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-match-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-read-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-traverse-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/grant-write-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/revoke-syntax.asciidoc
Labels: 4.1, cypher

#551 Document new user management privilege commands.
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/user-management-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/UserManagementPrivilegeTest.scala
Labels: 4.1, cypher, enhancement

#553 Fix documentation of `range` to reflect the truth.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ListFunctionsTest.scala
Labels: 4.0, bug, cypher

#558 Remove unused dependency
  embedded-examples/pom.xml
Labels: 4.1

#561 Add example of combination of variable length and multiple relationship types.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MatchTest.scala
Labels: 4.0, cypher, enhancement

#559 Add limited version of ALTER USER to community.
  cypher/cypher-docs/src/docs/dev/ql/administration/security/user-management-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityUserAndRoleManagementTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/UserManagementTest.scala
Labels: 4.1, cypher

#563 Check plan description arguments when validating query details
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
Labels: 4.1, cypher
