Repository neo4j/neo4j-documentation, pull requests merged in 2021-08, with the labels that each got.

#1224 fixed typo in cypher path matching page
  cypher/cypher-docs/src/docs/dev/general/cypher-path-matching.asciidoc
Labels: 4.3, cherry-pick-this-forward

#1225 fixed typo in cypher path matching page
  cypher/cypher-docs/src/docs/dev/general/cypher-path-matching.asciidoc
Labels: 4.4, cherry-picked

#1226 Extend documentation around CREATE DATABASE
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: enhancement, cypher, 4.3, cherry-pick-this-to-4.4

#1230 Extend documentation around CREATE DATABASE
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: enhancement, cypher, cherry-picked, 4.4

#1234 Add info about needed privileges for index commands
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes-for-search-performance/index.asciidoc
Labels: cypher, cherry-picked, 4.4

#1232 Update so limited result table don't need columns
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ShowFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ShowProceduresTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocBuilder.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/Document.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryResultContentBuilder.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryRunner.scala
Labels: cypher, 4.3, cherry-pick-this-to-4.4

#1236 Update so limited result table don't need columns
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ShowFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ShowProceduresTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/DocBuilder.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/Document.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryResultContentBuilder.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryRunner.scala
Labels: cypher, cherry-picked, 4.4

#1235 Fix wrong link for privileges to show role privileges
  cypher/cypher-docs/src/docs/dev/ql/administration/security/role-management-syntax.asciidoc
Labels: cypher, 4.1, cherry-pick-this-to-4.2
