Repository neo4j/neo4j-documentation, pull requests merged in 2021-05, with the labels that each got.

#1088 Fix test failure
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: 4.3, cypher

#1081 Restored the legacy HTTP API documentation
  server-docs/src/test/java/org/neo4j/doc/server/rest/transactional/TransactionDocIT.java
Labels: 4.0, drivers

#1082 Restored the legacy HTTP API documentation.
  server-docs/src/test/java/org/neo4j/doc/server/rest/transactional/TransactionDocIT.java
Labels: 4.1, cherry-picked, drivers

#1083 Restored the legacy HTTP API documentation.
  server-docs/src/test/java/org/neo4j/doc/server/rest/transactional/TransactionDocIT.java
Labels: 4.2, cherry-picked, drivers

#1087 Document wait transaction behaviour
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: 4.3, cypher

#1092 Fix index seek by range plan description test
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
Labels: 4.3, cypher

#1096 Add new plan operators
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: 4.3, cypher

#1084 Restored the legacy HTTP API documentation.
  server-docs/src/test/java/org/neo4j/doc/server/rest/transactional/TransactionDocIT.java
Labels: 4.3, cherry-picked, drivers

#1101 Update assert same node
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: 4.3, cypher

#1095 Move lookup index test into index test file
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/LookupIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/IndexTest.scala
Labels: 4.3, cypher

#1103 Mention scientific notation explicitly.
  cypher/cypher-docs/src/docs/dev/syntax/expressions.asciidoc
Labels: 4.3, cypher, team-planner

#1105 Remove unused imports
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
Labels: 4.3

#1104 Document relationship index/type scan hints.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryRunner.scala
Labels: 4.3, cypher, team-planner

#1098 Update the execute privilege section
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/execute-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
Labels: 4.2, cherry-pick-this-to-4.3, cypher

#1102 Update the DBMS admin section to grant relevant privileges
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/admin-role-dbms-custom.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
Labels: 4.2, cherry-pick-this-forward, cypher

#1114 Fix UsingTest
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
Labels: 4.3, cherry-pick-this-to-4.4, cypher

#1100 Use `SHOW PRIVILEGES AS COMMANDS`
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/BuiltInRolesAdministrationTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityPrivilegesTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ListPrivilegeTest.scala
Labels: 4.3, cherry-pick-this-forward, cypher

#1112 Cherry-picked: Update the DBMS admin section to grant relevant privileges (#1102)
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/admin-role-dbms-custom.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
Labels: 4.3, cherry-picked

#1109 Cherry-pick: Update the execute privilege section
  cypher/cypher-docs/src/docs/dev/ql/administration/security/dbms/execute-syntax.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SecurityAdministrationTest.scala
Labels: 4.3, cherry-picked, cypher

#1118 Grammar etc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: 4.3, cypher

#1090 Document commands for managing fulltext indexes
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes-for-full-text-search/create-fulltext-syntax.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes-for-search-performance/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/security/security-and-indexes-intro.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/FulltextIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/IndexTest.scala
Labels: 4.3, cherry-pick-this-forward, cypher
