Repository neo4j/neo4j-documentation, pull requests merged in 2022-05, with the labels that each got.

#1485 Remove old hexadecimal and octal syntax.
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/syntax/expressions.asciidoc
Labels: cypher, THIS VERSION ONLY, 5.0, breaking change

#1486 Update Fulltext index section to not mention B-tree indexes
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/FulltextIndexTest.scala
Labels: cypher, 5.0

#1494 Adapt to settings work in main repo
  server-docs/src/test/java/org/neo4j/doc/server/TransactionTimeoutDocIT.java
  server-test-utils/src/main/java/org/neo4j/doc/server/SharedWebContainerTestBase.java
Labels: 5.0
