Repository neo4j/neo4j-documentation, pull requests merged in 2022-07, with the labels that each got.

#1523 Document changes for SHOW INDEXES/CONSTRAINTS columns
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/indexes-for-search-performance/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/constraints/syntax.adoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
Labels: cypher, 5.0

#1522 add information show transactions and remote aliases
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TransactionsCommandTest.scala
Labels: cherry-pick-this-forward, 4.4

#1532 Deprecate Nodes or Relationship use on the RHS of a Set Clause
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SetTest.scala
Labels: cypher, Dependencies w. other PR, 5.0

#1541 fixing example
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
Labels: bug, cypher, 4.4

#1535 Add CALL IN TX to new features section.
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: cypher, team-cypher-planner, cherry-pick-this-to-5.0

#1547 Add CALL IN TX to new features section (4.4)
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: cherry-picked, 5.0

#1545 SHOW ALIASES instead of SHOW ALIAS
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/AliasesTest.scala
Labels: cherry-pick-this-forward, 4.4

#1544 Flakiness in tests for triadic operators
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: team-cypher-planner

#1548 5.0 cherrypick 1534
  cypher/cypher-docs/src/docs/graphgists/import/import-csv-with-cypher.asciidoc
Labels: cherry-picked, 5.0

#1550 Fixes after Cluster config changes
  config-docs/pom.xml
  embedded-examples/src/main/java/org/neo4j/examples/EmbeddedNeo4jClusterUsingBuilder.java
Labels: causal clustering, 5.0

#1551 4.4 cherry pick 1536
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/CallSubqueryTest.scala
Labels: cypher, cherry-picked, team-cypher-planner, 4.4

#1552 Fixes after dbms.mode removal
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/DatabaseManagementTest.scala
  embedded-examples/src/main/java/org/neo4j/examples/EmbeddedNeo4jClusterUsingBuilder.java
  embedded-examples/src/main/java/org/neo4j/examples/EmbeddedNeo4jClusterUsingNeo4jConf.java
Labels: causal clustering, 5.0

#1553 Fix broken build -> tests not finding database neo4j
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DocumentingTestBase.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/RefcardTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/AdministrationCommandTestBase.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/DatabaseManagementTest.scala
Labels: cypher, 5.0

#1554 update test to not use ambiguous aggregation expression
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MapsTest.scala
Labels: cypher, team-cypher-planner, 5.0

#1542 Documentation for relationship type expressions
  cypher/cypher-docs/src/docs/dev/syntax/expressions.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/LabelExpressionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MatchTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PatternTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/relationshipTypeExpressionsTest.scala
Labels: team-cypher-planner, 5.0

#1558 Add missing deprecations
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: cypher, cherry-picked, 4.4

#1559 Add missing deprecations
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: cypher, cherry-picked, 4.3

#1557 Add missing operators
  cypher/cypher-docs/src/docs/dev/execution-plan-groups/operators.asciidoc
  cypher/cypher-docs/src/docs/dev/execution-plans-operator-summary.asciidoc
Labels: 5.0

#1549 Add new columns to SHOW DATABASES docs
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/administration/show-databases-columns.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: cypher, 5.0
