Repository neo4j/neo4j-documentation, pull requests merged in 2022-06, with the labels that each got.

#1497 4.4 functionbbox
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
Labels: bug, 4.4, cherry-pick-this-to-5.0

#1499 Cherry picked changes for PR 1497
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
Labels: cherry-picked, 5.0

#1500 fixing deprecated exist(n.prop)
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PredicateFunctionsTest.scala
Labels: bug, cypher, cherry-pick-this-to-4.3, team-cypher-planner, cherry-pick-this-to-5.0

#1502 fixing deprecated exist(n.prop) (#1500)
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PredicateFunctionsTest.scala
Labels: cherry-picked, 4.3

#1504 Adapted URL in test to use https to avoid redirect
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/LoadCSVTest.scala
Labels: cherry-pick-this-forward, 4.4

#1509 4.4 nancompare
  cypher/cypher-docs/src/docs/dev/syntax/comparison.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/LoadCSVTest.scala
Labels: bug, cypher, 4.4, cherry-pick-this-to-5.0

#1512 fixing a typo from previous pr
  cypher/cypher-docs/src/docs/dev/syntax/comparison.asciidoc
Labels: cherry-pick-this-forward, 4.4

#1515 Updating nancompare for 5.0
  cypher/cypher-docs/src/docs/dev/syntax/comparison.asciidoc
Labels: cherry-picked, 5.0

#1517 Update dependencies
  pom.xml
Labels: 5.0

#1489 Removed old link references to btree
  cypher/cypher-docs/src/docs/dev/advanced-query-tuning-example.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SpatialTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/IndexTest.scala
Labels: team-cypher-planner, 5.0

#1510 removing 4.3 to avoid redundancy
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/AggregatingFunctionsTest.scala
Labels: cypher, 4.4

#1503 Remove reference to Cypher Version (CYPHER X.Y)
  cypher/cypher-docs/src/docs/dev/advanced-query-tuning-example.asciidoc
  cypher/cypher-docs/src/docs/dev/basic-query-tuning-example.asciidoc
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
  cypher/cypher-docs/src/docs/dev/syntax/parameters.asciidoc
  embedded-examples/src/test/resources/neo4j.conf
Labels: cypher, Dependencies w. other PR, 5.0

#1519 fix IF EXISTS for create alias and ALTER ALIAS
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: 4.4, cherry-pick-this-to-5.0

#1473 Improve documentation around pruning var length expands
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/MatchTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PatternTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
Labels: cypher, 5.0

#1525 MixedEditionModule is renamed to EnterpriseEM
  cypher/cypher-docs/src/test/java/org/neo4j/cypher/TestEnterpriseDatabaseManagementServiceBuilder.java
Labels: 5.0, fix-build

#1526 4.4 clauseorder
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
Labels: cypher, 4.4

#1527 fixing typo on commands
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
Labels: bug, cypher, cherry-pick-this-to-4.3, 4.4, cherry-pick-this-to-5.0

#1528 fixing typo on commands
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
Labels: cherry-picked, 4.3

#1529 fixing typo on commands
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
Labels: cherry-picked, 5.0

#1524 Add documentation to explain how NULL works in a CASE expression
  cypher/cypher-docs/src/docs/dev/syntax/expressions.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/CaseExpressionsTest.scala
Labels: cypher, Dependencies w. other PR, 5.0

#1501 Update documentation to allow combining SHOW and TERMINATE TRANSACTION commands
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TransactionsCommandTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/TransactionCommandsTest.scala
Labels: cypher, 5.0

#1536 Document CALL IN TRANSACTIONS restrictions.
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/CallSubqueryTest.scala
Labels: cypher, team-cypher-planner, 4.4, cherry-pick-this-to-5.0
