Repository neo4j/neo4j-documentation, pull requests merged in 2022-03, with the labels that each got.

#1444 Add example for `SHOW TRANSACTIONS` with durations
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TransactionsCommandTest.scala
Labels: cypher, cherry-pick-this-to-4.4, 5.0

#1445 Add example for `SHOW TRANSACTIONS` with durations (#1444)
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/TransactionsCommandTest.scala
Labels: cherry-picked, 4.4

#1447 Await databases to start when starting dbms (flaky test fix).
  embedded-examples/src/test/java/org/neo4j/examples/backup/TestBackup.java
  functions/src/main/java/org/neo4j/doc/Neo4jInstance.java
  procedures/src/main/java/org/neo4j/doc/Neo4jInstance.java
Labels: causal clustering, 5.0

#1407 Upgrade docs build to Scala 2.13
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SpatialFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryResultContentBuilder.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryRunner.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/tooling/QueryStatisticsTestSupport.scala
  cypher/pom.xml
Labels: tooling, 5.0

#1449 Adopt new public API surface
  doctools/src/test/java/org/neo4j/doc/SettingsDocumenterTest.java
  embedded-examples/src/test/java/org/neo4j/examples/backup/TestBackup.java
  procedures/src/main/java/org/neo4j/doc/Neo4jInstance.java
  server-test-utils/src/main/java/org/neo4j/doc/server/helpers/CommunityWebContainerBuilder.java
Labels: 5.0

#1448 removing references to deprecated killQuery and killQueries procedures
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: cypher, 5.0

#1455 Fix build broken due to Foldable refactoring (treeExists)
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
Labels: 5.0, fix-build

#1453 Update QueryPlanTest to use new indexes after Btree index removal.
  cypher/cypher-docs/src/docs/dev/query-tuning-indexes.adoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/QueryPlanTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/UsingTest.scala
Labels: team-cypher-planner, 5.0

#1457 Add documentation of `elementId` function
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ScalarFunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/FunctionsTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/RelationshipFunctionsTest.scala
Labels: cypher, 5.0

#1451 Remove support for exists(property)
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/PredicateFunctionsTest.scala
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/WhereTest.scala
Labels: cypher, Dependencies w. other PR, THIS VERSION ONLY, 5.0, breaking change
