Repository neo4j/neo4j-documentation, pull requests merged in 2022-10, with the labels that each got.

#1623 Updating information about auto-parameterization after 5.0 updates
  cypher/cypher-docs/src/docs/dev/syntax/parameters.asciidoc
Labels: cypher, cherry-pick-this-forward, 5.0

#1634 5.1 Cherry-pick of 1623
  cypher/cypher-docs/src/docs/dev/syntax/parameters.asciidoc
Labels: cherry-picked, 5.1

#1624 5.0-fix-antora-build-errors (#1611)
  cypher/cypher-docs/src/docs/dev/advanced-query-tuning-example.asciidoc
  cypher/cypher-docs/src/docs/dev/basic-query-tuning-example.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/load-csv/index.asciidoc
  cypher/cypher-docs/src/docs/dev/query-tuning-indexes.adoc
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/ShortestPathPlanningTest.scala
Labels: cherry-picked, 5.1

#1607 Add syntax for server management
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ServerManagementPrivilegeTest.scala
  cypher/refcard-tests/src/test/scala/org/neo4j/cypher/docgen/refcard/ServerManagementTest.scala
Labels: cypher, Dependencies w. other PR, cherry-pick-this-forward, 5.0, refcard

#1571 Cypher manual - add section about aggregation grouping keys
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/AggregatingFunctionsTest.scala
Labels: cypher, team-cypher-planner, 5.0, cherry-pick-this-to-5.0

#1636 Cypher manual - add section about aggregation grouping keys (#1571)
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/AggregatingFunctionsTest.scala
Labels: cherry-picked, 5.0

#1604 Rewrite docs to talk about composite databases instead of fabric
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
  cypher/cypher-docs/src/docs/dev/general/databases-and-graphs.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/functions/query-functions-graph.adoc
  cypher/cypher-docs/src/docs/dev/query-use.adoc
Labels: Dependencies w. other PR, cherry-pick-this-forward, 5.0

#1638 5.1 Cherry-pick of 1604
  cypher/cypher-docs/src/docs/dev/clause.asciidoc
  cypher/cypher-docs/src/docs/dev/general/databases-and-graphs.asciidoc
  cypher/cypher-docs/src/docs/dev/glossary.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/functions/index.asciidoc
  cypher/cypher-docs/src/docs/dev/ql/functions/query-functions-graph.adoc
  cypher/cypher-docs/src/docs/dev/query-use.adoc
Labels: cherry-picked, 5.1

#1639 5.1 Cherry-pick of #1609
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: cherry-picked, 5.1

#1626 Document new text index provider and deprecation of the old one
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/SchemaIndexTest.scala
Labels: cypher, 5.1

#1640 Add link to composite databases introduction section
  cypher/cypher-docs/src/test/scala/org/neo4j/cypher/docgen/DatabasesTest.scala
Labels: cypher, cherry-picked, 5.1

#1641 Reword the cypher runtime section and fix the runtime defaults
  cypher/cypher-docs/src/docs/dev/query-tuning.asciidoc
Labels: 5.0, cherry-pick-this-to-5.1

#1642 GPM syntax additions
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: team-cypher-planner, 5.1

#1644 GPM syntax addition
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: cherry-picked, THIS VERSION ONLY, team-cypher-planner, 4.4

#1643 GPM syntax additions
  cypher/cypher-docs/src/docs/dev/deprecations-additions-and-compatibility.asciidoc
Labels: cherry-picked, THIS VERSION ONLY, team-cypher-planner, 5.0

#1648 Describing what could be done to make a text index work.
  cypher/cypher-docs/src/docs/dev/query-tuning-indexes.adoc
Labels: cherry-pick-this-forward, team-cypher-planner, 4.4

#1649 Describing what could be done to make a text index work. (#1648)
  cypher/cypher-docs/src/docs/dev/query-tuning-indexes.adoc
Labels: cherry-picked, 5.0

#1650 Describing what could be done to make a text index work. (#1648)
  cypher/cypher-docs/src/docs/dev/query-tuning-indexes.adoc
Labels: cherry-picked, 5.1
